@model DiplomaDataModel.OptionPicker.Choice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Choice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOption.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthOption.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondOption.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdOption.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearTerm.YearTermId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>