@model DiplomaDataModel.OptionPicker.Choice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Choice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>