@model IEnumerable<DiplomaDataModel.OptionPicker.Choice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FourthOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdOption.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearTerm.YearTermId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FourthOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdOption.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearTerm.YearTermId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentLastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChoiceId })
        </td>
    </tr>
}

</table>
